body{
    background-color: aqua;
}
 .centered {
    text-align: center;
} 
table, div{
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 50%;    
}
th, td, tr {
    border: 1px solid green;
    padding: 8px;;
    text-align: center;
}
th {
    background-color: lightblue;
}
tr, td:nth-child(even) {
    background-color: darkgrey;
}